<html lang="en" class=" sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Onitir IT solution template || News details</title>
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-sanitize.min.js"></script>
    </head>
    <body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">
    <script>
            var app = angular.module("bolgsModule", ['ngSanitize']); 
            app.controller("blogCtlr", function($scope) {
               
                $scope.website;
                $scope.blog;
                function getUrlParameter(sParam) {
                    var sPageURL = window.location.search.substring(1),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;
    
                    for (i = 0; i < sURLVariables.length; i++) {
                        sParameterName = sURLVariables[i].split('=');
    
                        if (sParameterName[0] === sParam) {
                            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                        }
                    }
                };
    
                function initData() {
                    var df = sessionStorage.getItem('detailBlog');
                    $scope.blog = JSON.parse(df);
                };
                initData();
    
                $scope.goBack = function (){
                    window.history.back();
                }
                
            });
        </script>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <div id="preloader" style="display: none;">
    <div>
    <div></div>
    </div>
    </div>
    <header class="header-absolute header-three sticky-header sticky">
    <div class="container-fluid custom-container-two">
    <div class="mainmenu-area">
    <div class="d-flex align-items-center justify-content-between">
    <nav class="main-menu">
    <div class="logo">
    <a href="index.html">
    <img src="assets/img/logo-white.png" alt="Onitit" class="normal-logo">
    <img src="assets/img/logo.png" alt="Onitit" class="sticky-logo">
    </a>
    </div>
    <div class="menu-items" style="padding-left: 200px !important; display: block;">
    <ul>
    <li>
    <a href="index.html">Home</a>
    </li>
    <li>
    <a href="index.html?#ab">About</a>
    </li>
    <li>
    <a href="index.html?#serv">Services</a>
    </li>
    <li>
    <a href="index.html?#portfolio">Portfolio</a>
    </li>
    <li class="active">
    <a href="blog-standard.html">News</a>
    </li>
    <li>
    <a href="contact.html">Contact</a>
    </li>
    </ul>
    </div>
    </nav>
    <div class="main-right">
    <a href="#" class="main-btn btn-filled">
    Get A Quote
    </a>
    <a href="#" class="offcanvas-trigger">
    <i class="far fa-ellipsis-v"></i>
    </a>
    <div class="off-canvas-wrap">
    <div class="overly"></div>
    <div class="off-canvas-widget">
    <a href="#" class="off-canvas-close"><i class="fal fa-times"></i></a>
    <div class="widget contact-widget">
    <h4 class="widget-title">CONTACT US</h4>
    <ul>
    <li>
    <i class="far fa-map-marker-alt"></i>
    Spade Enterprise Centre
    North King Street, Smithfield, Dublin 7
    </li>
    <li>
    <i class="far fa-phone"></i>
    <a href="tel:+353 892315589">+353 892315589</a>
    </li>
    <li>
    <i class="far fa-envelope-open"></i>
    <a href="#">info@onesolution.com</a>
    </li>
    </ul>
    </div>
    <div class="widget social-widget">
    <h4 class="widget-title">Follow Us</h4>
    <ul>
    <li>
    <a href="https://www.facebook.com/onesolutionie-109531274096101/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.linkedin.com/company/softweblab-ie/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/feed/my_videos" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://github.com/mdejuan" target="_blank"><i class="fab fa-github"></i></a>
    </li>
    </ul>
    </div>
    <div class="widget social-widget">
    <h4 class="widget-title">Referral Programme</h4>
    <a href="https://getreferrals.ie/loginReferrer.html?c=879-1461" target="blank"><img src="assets/img/logo2.png"></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <div class="mobile-menu"></div>
    </div>
    </div>
    </div>
    </header>
    <section class="breadcrumb-section" style="background-image: url(assets/img/breadcrumb.jpg);">
    <div class="container">
    <div class="breadcrumb-text">
    <h1>news feeds</h1>
    <p>Your Partner for Software Innovation</p>
    </div>
    <ul class="breadcrumb-nav">
    <li><a href="#">Home</a></li>
    <li>Blog</li>
    </ul>
    <span class="btg-text">onesolution</span>
    </div>
    </section>
    <section class="blog-section pt-120 pb-120">
    <div class="container ng-scope" ng-app="bolgsModule" ng-controller="blogCtlr">
    <div class="row justify-content-center">
    <div class="col-lg-8">
    <div class="blog-details-box">
    <div class="entry-content">
    <div class="post-media">
    <center><img ng-src="/assets/img/uploads/sa.jpeg" alt="onesolution" src="/assets/img/uploads/sa.jpeg"></center>
    </div>
    <!-- ngRepeat: tag in blog.tags --><div ng-repeat="tag in blog.tags" style="display: inline-block;" class="ng-scope">
    <a href="#" class="cat ng-binding">AI&nbsp;</a>&nbsp;
    </div><!-- end ngRepeat: tag in blog.tags --><div ng-repeat="tag in blog.tags" style="display: inline-block;" class="ng-scope">
    <a href="#" class="cat ng-binding"> BI&nbsp;</a>&nbsp;
    </div><!-- end ngRepeat: tag in blog.tags -->
    <h2 class="title ng-binding">How does a referral program work
    </h2>
    <ul class="post-meta">
    <li><a href="#" class="ng-binding"><i class="far fa-user"></i>by Marcos de Juan</a></li>
    <li><a href="#"><i class="far fa-calendar-alt"></i><span ng-bind="blog.date | date:'MM/dd/yyyy'" class="ng-binding">12/17/2020</span></a></li>
    </ul>
    <p ng-bind-html="blog.body" class="ng-binding"><h3><strong>What is a referral program?</strong></h3>
    <ul>
    <li><p><code>h2 { display: inline }</code>&nbsp;–&nbsp;<a href="https://stackoverflow.com/users/497418/zzzzbov" title="153,334 reputation">zzzzBov</a>&nbsp;<a href="https://stackoverflow.com/questions/19917922/how-do-i-put-multiple-links-on-the-same-line-html5/19918024#comment29637700_19917922">Nov 11 '13 at 23:21</a></p></li>
    <li><p>1</p>
    <p>That's invalid;&nbsp;<code>h2</code>&nbsp;is a block element, whilst&nbsp;<code>a</code>&nbsp;is inline…&nbsp;–&nbsp;<a href="https://stackoverflow.com/users/534109/tieson-t" title="19,614 reputation">Tieson T.</a>&nbsp;<a href="https://stackoverflow.com/questions/19917922/how-do-i-put-multiple-links-on-the-same-line-html5/19918024#comment29637702_19917922">Nov 11 '13 at 23:22</a></p></li>
    <li><p>2</p>
    <p>@TiesonT., no,&nbsp;<a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-a-element">the&nbsp;<code>a</code>&nbsp;element has a transparent content model, which allows it to contain flow content</a>&nbsp;–&nbsp;<a href="https://stackoverflow.com/users/497418/zzzzbov" title="153,334 reputation">zzzzBov</a>&nbsp;<a href="https://stackoverflow.com/questions/19917922/how-do-i-put-multiple-links-on-the-same-line-html5/19918024#comment29637733_19917922">Nov 11 '13 at 23:23</a></p></li>
    <li><p>@zzzzBov The 4.01 spec says it's inline:&nbsp;<a href="http://www.w3.org/TR/html401/struct/links.html#h-12.2">w3.org/TR/html401/struct/links.html#h-12.2</a>, although the HTML5 spec agrees with your WHATWG link:&nbsp;<a href="http://dev.w3.org/html5/markup/a.html#a">dev.w3.org/html5/markup/a.html#a</a>&nbsp;- so I suppose it depends on doctype.&nbsp;–&nbsp;<a href="https://stackoverflow.com/users/534109/tieson-t" title="19,614 reputation">Tieson T.</a>&nbsp;<a href="https://stackoverflow.com/questions/19917922/how-do-i-put-multiple-links-on-the-same-line-html5/19918024#comment29637834_19917922">Nov 11 '13 at 23:28</a></p></li>
    <li><p>1</p>
    <p>@TiesonT., you should note that this post was tagged with&nbsp;<a href="https://stackoverflow.com/questions/tagged/html5">html5</a>&nbsp;–&nbsp;<a href="https://stackoverflow.com/users/497418/zzzzbov" title="153,334 reputation">zzzzBov</a>&nbsp;<a href="https://stackoverflow.com/questions/19917922/how-do-i-put-multiple-links-on-the-same-line-html5/19918024#comment29637858_19917922">Nov 11 '13 at 23:29</a></p>
    <p><code>h2 { display: inline }</code>&nbsp;–&nbsp;<a href="https://stackoverflow.com/users/497418/zzzzbov" title="153,334 reputation">zzzzBov</a>&nbsp;<a href="https://stackoverflow.com/questions/19917922/how-do-i-put-multiple-links-on-the-same-line-html5/19918024#comment29637700_19917922">Nov 11 '13 at 23:21</a></p></li>
    </ul></p><br><br>
    <a href="#" class="cat" ng-click="goBack()">Back</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10">
    <div class="sidebar">
    <div class="widget about-author-widget mb-40">
    <div class="author-box">
    <img src="assets/img/marcos.jpg" alt="author">
    <h6>Jose Marcos de Juan</h6>
    <p>Software dev and QA with more than 20 years of experience.</p>
    <ul class="social-icon">
    <li><a href="https://www.linkedin.com/in/marcos73/" target="_blanck"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <div class="go-top-area">
    <div class="go-top-wrap">
    <div class="go-top-btn-wrap">
    <div class="go-top go-top-btn active">
    <i class="fal fa-angle-double-up"></i>
    <i class="fal fa-angle-double-up"></i>
    </div>
    </div>
    </div>
    </div>
    <footer class="footer-style-three">
    <div class="footer-top">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-sm-4">
    <div class="logo text-center text-sm-left">
    <a href="index.html">
    <img src="assets/img/logo.png" alt="onesolution">
    </a>
    </div>
    </div>
    <div class="col-sm-8">
    <div class="social-icon text-center text-sm-right">
    <a href="https://www.facebook.com/onesolutionie-109531274096101/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.linkedin.com/company/softweblab-ie/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/feed/my_videos" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://github.com/mdejuan" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.inview.min.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/jquery.easypiechart.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/main.js"></script>
    
    </body></html>